.pierwsza {
   background-color: transparent;
}
.druga {
   background-color: aqua; 
}
.trzecia {
   background-color: blueviolet;
}
.czwarta {
   background-color: chartreuse;
}
.razy5 {
   font-size: 20px;
}
.razy2 {
   font-size: 12px;
}
.raz {
   font-size: 8px;
}
.stylListy1 {
   color: red;
}
.stylListy2 {
   background-color: greenyellow;
}